body {
    width: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    background-image: url(https://image.freepik.com/free-vector/earth-view-night-from-alien-planet-neon-space_33099-1876.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    width: 200px;
    height: 200px;
}
.ficha {
    background-image: url(https://img2.gratispng.com/20180402/wxe/kisspng-asteroids-meteoroid-clip-art-asteroid-5ac1d464baade1.4520405715226522607647.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
    background-color: red;
}

.preta {
    background-image: url(meteoro.jpg);
    background-color: transparent;
    

}

:root {
    --primary-width: 50px;
    --primary-heigth: 50px;
    --table-width: 350px;
    --table-heigth: 300px;
}

h1 {
    text-align: center;
}

#mainContainer {
    background-color: transparent;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.coluna {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRqEegKSBKOLRVhKwJxSeozi2kjnHpMljj1nQ&usqp=CAU);
    background-repeat: repeat;
    background-size: cover;
    background-color: rgb(67, 65, 180);
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid black;
}

#floatArea {
    background-color: transparent;
    width: var(--table-width);
    height: var(--primary-heigth);
    margin: 0 auto;
    display: flex;
}

.float {
    background-color: lightblue;
    width: var(--primary-width);
    height: var(--primary-heigth);
    display: inline-block;
    border-radius: 50%;
}

.Elemento {
    border: 1px solid black;
}

.coluna {
    background-color: rgb(67, 65, 180);
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
}
#button {
 background-color: blueviolet;
 border-radius: 7px;
}
#button:hover {
    background-color: rgb(67, 65, 180);
}
.meteor{
    display: flex;
    content: url('meteor.gif');
    width: 300px;
    height: 300px;
    margin-left: 580px;
    animation: rotate 0,4s infinite;
    background-color: transparent;
  }
  @keyframes rotate{
    50% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
    }
    #victory {
display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
  margin-right: 15px;
  text-shadow: white 2px 2px 1px;
  margin-top: 0 auto;
  animation: textoAnimado 0.2s infinite;
  text-decoration-color: white;
}
@keyframes textoAnimado {
  from {background-color:red;}
  to {background-color: black;}
}
    }
  